#contactme {
    height: fit-content;
    text-align: center;
}

.contactme_heading {
    margin-bottom: 5%;
}

.grid {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
}

.contactme_alt_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 0 5rem;
}

.contact_option {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    border: 2px solid;
    background-color: var(--color-bg-variant);
    border-radius: 3rem;
    transition: var(--transition);
}

.contact_option:hover {
    background-color: var(--color-extra);
    border: 2px solid var(--color-bg-variant);
}

.contact_option a {
    color: var(--color-btns);
}

.contactme_form form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contact_icon {
    font-size: 1.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.6rem;
    border-radius: 2%;
}

@media screen and (max-width: 1080px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .contactme_heading {
        font-size: 0.7rem;
        margin-bottom: 3rem;
    }
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactme_alt_contact {
        align-items: center;
        margin: 0.5rem;
        font-size: 0.75rem;
    }
    .contact_option {
        padding: 0.5rem;
        width: 250px;
    }
    .contactme_form {
        width: 250px;
    }
}