/* #animation {
    margin: 1%;
    margin-left: 9%;
    /* display: flex;
    justify-content: center;
    align-items: center; */


/* 
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "youtube . ." ". . spotify";
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
}
.logo_container {
    border: solid 1px black;
    width: fit-content;
    padding: 4rem 2rem;
    border-radius: 5%;
}
.img {
    max-width: 150px;
}
.youtube {
    grid-area: youtube;
}
.spotify {
    grid-area: spotify;
}
@media screen and (max-width: 1024px) {
    #animation {
        display: none;
    }
}
*/