 .playlist_with_check {
     display: grid;
     grid-template-columns: 5% 80%;
     gap: 15%;
     margin: 1.5rem;
     background-color: var(--color-bg);
     border-radius: 1.5rem;
     padding: 0.5rem;
 }
 
 .playlist {
     position: relative;
     padding: 0.4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     min-height: fit-content;
     width: 200px;
 }
 
 .playlist:hover .tooltip {
     visibility: visible;
 }
 
 .playlist>ul {
     list-style: none;
     padding: 0.2rem;
 }
 
 .playlist>* {
     overflow: auto;
     margin: 0.4rem;
 }
 
 .tooltip {
     visibility: hidden;
     width: 200px;
     height: fit-content;
     background-color: var(--color-white);
     color: var(--color-black);
     text-align: center;
     padding: 0.75rem;
     position: absolute;
     right: 50%;
     transform: translateX(50%);
     z-index: 1;
     border-radius: 2rem;
 }
 
 .image {
     max-width: 100px;
 }
 
 .selected_playlist {
     position: relative;
 }
 
 .selected_playlist input {
     width: 25px;
 }
 
 @media screen and (max-width: 1024px) {
     .playlist_with_check {
         grid-template-columns: 1fr;
         padding: 3rem;
     }
     .selected_playlist input {
         transform: scale(2);
     }
     .image {
         max-width: 150px;
     }
 }