 .playlist_with_check {
     display: grid;
     grid-template-columns: 5% 80%;
     gap: 15%;
     margin: 1.5rem;
     background-color: var(--color-bg);
     border-radius: 1.5rem;
     padding: 0.5rem;
 }
 
 .playlist {
     padding: 0.4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     min-height: fit-content;
     width: 200px;
 }
 
 .playlist>* {
     overflow: auto;
     margin: 0.4rem;
 }
 
 .image {
     max-width: 100px;
 }
 
 .selected_playlist {
     position: relative;
     /* right: 0; */
     /* top: 50%; */
 }
 
 .selected_playlist input {
     width: 25px;
 }