.screen_view {
    height: 100vh;
    display: grid;
    grid-template-areas: "header animation" "login_area animation";
    grid-template-columns: repeat(2, 1fr);
}

.header {
    grid-area: header;
}

.login_area {
    grid-area: login_area;
}

.animation {
    grid-area: animation;
}

@media screen and (max-width: 1024px) {
    .screen_view {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "login_area";
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3rem;
    }
    .animation {
        display: none;
    }
}

@media screen and (max-width: 600px) {}