.screen_view {
    height: 100vh;
    display: grid;
    grid-template-areas: "header " "login_area";
    grid-template-columns: 1fr;
}

.header {
    grid-area: header;
}

.login_area {
    grid-area: login_area;
}

@media screen and (max-width: 1024px) {
    .screen_view {
        height: fit-content;
    }
}

@media screen and (max-width: 600px) {}