#get_token {
    text-align: center;
}

#get_token h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0;
    color: var(--color-primary);
}

#get_token Button {
    width: fit-content;
}

.stick_to_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.redirect_p {
    margin: 2%;
    color: var(--color-primary)
}