@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-btns: #b342f5;
    --color-bg: #2D333B;
    --color-bg-variant: #1C2128;
    --color-primary: #efefef;
    --color-extra: #374151;
    --color-white: #fff;
    --color-black: #000000;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
}

.section {
    margin: 8rem 3rem;
    padding: 2rem;
    color: var(--color-primary);
}