#privacy {
    text-align: center;
    margin-bottom: 10%;
    height: fit-content;
}

.privacy_content {
    margin: 5%;
    background-color: var(--color-bg-variant);
    border: 2px solid;
    border-radius: 2rem;
    padding: 2rem;
    transition: var(--transition);
}

.privacy_content a {
    color: var(--color-btns)
}

.privacy_content:hover {
    border: 2px solid var(--color-bg-variant);
    background-color: var(--color-extra);
}

@media screen and (max-width: 600px) {
    #privacy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .privacy_heading {
        font-size: 0.7rem;
        margin-bottom: 3rem;
    }
    .privacy_content {
        font-size: 0.75rem;
        width: 250px;
    }
}